/* CSS Stylesheet for the home page of Meals My Way*/

/* Body of each page formatting */
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: rgb(59, 92, 62);
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

/* Sidebar class fomatting */
.sidebar {
    width: 5%;
    background-color: #566957;
    height: 100vh;
    position: fixed;
    top: 0;
    object-fit: cover;
}

/* Left side bar starting at the left */
.sidebar.left {
    left: 0;
}

/* Right side bar starting at the right */
.sidebar.right {
    right: 0;
}

/* Navigation Bar List */
.navbar ul {
    list-style-type: none;
    background-color: #1d351d;
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 0; 
    left: 5%; 
    width: 90%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Navigation Bar Links */
.navbar a{
    color: rgb(231, 233, 230);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    align-content: center;
}

/* Hover change color  */
.navbar a:hover{
    background-color: #566957;
}

/* Main content of each page */
.main-content {
    left: 5%; 
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.navbar li{
    border: solid;
    border-top-color: rgb(59, 92, 62);
    border-top-width: 1px;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

/* Page header format */
h1{
    /* Font attributes*/
    font-family: "Black Ops One";
    font-size: 350%;
    color: rgb(231, 233, 230);
    text-align: center;
    align-content: center;
    width:100%;

   
}

/* Container for the logo*/
.logo-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

/* Logo format */
.logo {
    width: 200;
    height: 200px;
    border-radius: 20%;
    object-fit: cover;
}

/* Project description format */
.project-description {
    font-size: 1.2em;
    margin: 20px auto;
    max-width: 1200px;
    line-height: 1.5;
    font-weight: bold;
}

/* Background tab for the team info */
.team-section {
    margin-top: 40px;
    padding: 20px;
    border: 1px solid rgb(231, 233, 230);
    border-radius: 10px;
    background-color: #1d351d;
}

/* Team info format */
.team-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    padding: 20px;
}


/* Team member class format */
.team-member{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Team member photo format */
.team-member img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
}

/* Text under each team member format */
.team-member p{
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(231, 233, 230);
}
